In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

C:\Users\Asus\AppData\Local\conda\conda\envs\tensorflow\lib\importlib\_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
print('Hello World')

Hello World

In [3]:
#data types
#list 
test = ['aasda',1,2,True]

In [4]:
test[0]

'aasda'

In [7]:
[str(a) + 'gulu' for a in test]

['aasdagulu', '1gulu', '2gulu', 'Truegulu']

In [8]:
test.pop()

True

In [9]:
test

['aasda', 1, 2]

In [10]:
#tuple
tup = (1,'sda')

In [11]:
tup.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [12]:
tup = ()

In [13]:
tup

()

In [14]:
type(tup)

tuple

In [15]:
type(test)

list

In [16]:
#dict
dct = {'ads' : 3, 3 : 'asdas'}

In [17]:
type(dct)

dict

In [18]:
dct['ads']

3

In [20]:
dct.pop('ads')

3

In [21]:
dct

{3: 'asdas'}

In [28]:
r = test * 2

In [29]:
r

['aasda', 1, 2, 'aasda', 1, 2]

In [38]:
np_test = np.random.randint(5, size=(10,3))

In [39]:
type(np_test)

numpy.ndarray

In [45]:
data = pd.DataFrame({'Name' : ['Monu','Sang','Bou'] , 'Age' : [27,45,65]})

In [41]:
type(data)

pandas.core.frame.DataFrame

In [42]:
data

   Age  Name
0   27  Monu
1   45  Sang

In [43]:
data.count()

Age     2
Name    2
dtype: int64

In [44]:
data.describe()

             Age
count   2.000000
mean   36.000000
std    12.727922
min    27.000000
25%    31.500000
50%    36.000000
75%    40.500000
max    45.000000